.float-label-2 label {
    background: #fff;
    font-size: 1rem;
    padding: 0 0.25rem;
    position: absolute;
    top: 50%;
    left: 0.75rem;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.float-label-2 input,
.float-label-2 textarea,
.float-label-2 select {
    border: none;
    outline: none;
    font-size: 1rem;
    width: 100%;
    background: #fff;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #E6E9ED;
}

.float-label-2 input::placeholder,
.float-label-2 textarea::placeholder,
.float-label-2 select::placeholder {
    color: transparent;
}

.float-label-2 input:hover,
.float-label-2 textarea:hover,
.float-label-2 select:hover {
    border-color:#6A7991;
    /* box-shadow: 0px 0px 4px #00000040; */
}

.float-label-2 input:focus,
.float-label-2 textarea:focus,
.float-label-2 select:focus {
    border-color:#122545;
    /* box-shadow: 0px 0px 4px #146FB4; */
}

.float-label-2 input:focus ~ label,
.float-label-2 textarea:focus ~ label,
.float-label-2 select:focus ~ label,
.float-label-2 input:not(:placeholder-shown) ~ label,
.float-label-2 textarea:not(:placeholder-shown) ~ label,
.float-label-2 select:valid ~ label {
    color: #146FB4;
    /* font-size: 0.8rem; */
    top: -0.2rem;
}


.float-label-2 input.ng-invalid.ng-touched {
    border-color: red;
    box-shadow: 0px 0px 4px rgba(255, 0, 0, 0.5);
}

.float-label-2 input.ng-invalid.ng-touched ~ label {
    color: red;
}