<form [formGroup]="user" (ngSubmit)="onSubmit()" class="flex flex-col gap-5 items-center relative px-4 py-2">
    <h1 class="font-space-grotesk font-bold text-3xl text-center w-auto md:w-72">Login</h1>
    <div class="grid gap-1 w-full">
        <app-float-label>
            <input id="username" type="text"
                placeholder="username" formControlName="username"
                [ngClass]="{'ng-invalid ng-dirty': user.controls['username'].touched && user.controls['username'].invalid}"/>
            <label for="username">username</label>
        </app-float-label>
        
        @if (user.controls['username'].touched && user.value.username === '') {
            <p class="text-[red] pl-2">Es requerido el email</p>
        } @else if (user.controls['username'].touched && user.controls['username'].invalid) {
            <p class="text-[red] pl-2">El email es invalido</p>
        }

    </div>
    <div class="grid gap-1 w-full">
        <app-float-label>
            <input id="password" type="password"
                placeholder="password" formControlName="password"
                [ngClass]="{'ng-invalid ng-dirty': user.controls['password'].touched && user.controls['password'].invalid}" />
            <label for="password">password</label>
        </app-float-label>
        @if (user.controls['password'].touched && user.value.password === '') {
            <p class="text-[red] pl-2">Es requerido la contraseña</p>
        }
        
    </div>
    <button type="submit" class="btn btn-flat-primary w-fit" [disabled]="user.invalid">Iniciar sesión</button>
</form>