<form [formGroup]="user" (ngSubmit)="onSubmit()" class="flex flex-col gap-4 items-center relative">
    <h1 class="font-space-grotesk font-bold text-3xl text-center">Login</h1>
    <div class="grid gap-1 w-full">
        <input type="text" formControlName="username" pInputText placeholder="username"
            (invalid)="false" required
            [ngClass]="{'ng-invalid ng-dirty': user.controls['username'].touched && user.controls['username'].invalid}" />
        
        @if (user.controls['username'].touched && user.value.username === '') {
            <p class="text-[red] pl-2">Es requerido el email</p>
        } @else if (user.controls['username'].touched && user.controls['username'].invalid) {
            <p class="text-[red] pl-2">El email es invalido</p>
        }

    </div>
    <div class="grid gap-1">
        <p-password id="password" formControlName="password" placeholder="password" 
            [toggleMask]="true" [feedback]="false"
            [ngClass]="{'ng-invalid ng-dirty': user.controls['password'].touched && user.controls['password'].invalid}" />

        @if (user.controls['password'].touched && user.value.password === '') {
            <p class="text-[red] pl-2">Es requerido la contraseña</p>
        }
        
    </div>
    <button type="submit" class="btn btn-flat-primary w-fit" [disabled]="user.invalid">Iniciar sesión</button>
</form>