<section class="px-3 py-1">
    <h1 class="text-title-4">Pedidos</h1>
    <header class="flex gap-3 justify-between sticky top-0 bg-[#ffffff63] z-20 py-4 filter backdrop-blur-sm">
        <div class="w-fit">
            <input type="text" pInputText placeholder="Busca todo lo ves" />
            <button type="button" pButton class="text-neutral-50 text-button">Buscar</button>
        </div>
        <button class="btn btn-flat-primary">Nuevo</button>
    </header>
    <div class="card">
        <h2>No tiene contenido</h2>
    </div>
</section>