<form class="grid gap-8 mt-3">
    <div class="grid gap-4">
        <div class="grid gap-4">
            <app-float-label>
                <input id="nombre-maquina" type="text" placeholder="nombre"/>
                <label for="nombre-maquina" class="select-none text-neutral-300">Nombre</label>
            </app-float-label>
            <app-float-label>
                <input id="codigo" type="text" placeholder="codigo"/>
                <label for="codigo" class="select-none text-neutral-300">Código Upeu</label>
            </app-float-label>
        </div>
        <div class="grid grid-cols-[1fr_1fr] gap-4">
            <app-float-label class="min-w-[192px]">
                <select id="tipo_maquina" disabled>
                    <!-- <option value="s1" selected>categoria 1</option> -->
                    <option value="s2">categoria 2</option>
                    <option value="s3">categoria 3</option>
                    <option value="s4">categoria 4</option>
                </select>
                <label for="tipo_maquina" class="select-none text-neutral-300 text-nowrap">Selecionar Categoria</label>
            </app-float-label>
            <app-float-label class="min-w-[182px]">
                <select id="estado" disabled>
                    <!-- <option value="e1" selected>estado 1</option> -->
                    <option value="e2">estado 2</option>
                    <option value="e3">estado 3</option>
                    <option value="e4">estado 4</option>
                </select>
                <label for="estado" class="select-none text-neutral-300 text-nowrap">Seleccionar Estado</label>
            </app-float-label>
        </div>
    </div>
    <div class="grid grid-cols-[auto_auto] justify-end gap-3">
        <app-custom-button class="grid" color="danger" [isButtonOutline]="true" sizeButton="sm">
            <span class="text-base">Cancelar</span>
        </app-custom-button>
        <app-custom-button class="grid" sizeButton="sm">
            <span class="text-base">Agregar</span>
            <img src="/icon/normal/check-circle.svg" alt="icono del boton">
        </app-custom-button>
    </div>
</form>