<form [formGroup]="maquinaForm" (ngSubmit)="onSubmit()" class="relative grid gap-8 pt-3 overflow-hidden">
    <div class="grid gap-4">
        <div class="grid grid-cols-[400px_200px] gap-4">
            <app-float-label>
                <input id="nombre-maquina" type="text" placeholder="nombre" formControlName="nombre"/>
                <label for="nombre-maquina" class="select-none text-neutral-300">Nombre</label>
            </app-float-label>
            <app-custom-select [options]="categorias" [(selectedValue)]="maquinaSelected"></app-custom-select>
        </div>
        @switch (maquinaSelected.value) {
            @case (1) {
                <app-impresora/>
            }
            @case (2) {
                <app-papeleria/>
            }
            @case (3) {
                <app-laser/>
            }
            @case (4) {
                <app-escaneo/>
            }
        }
    </div>
    <div class="grid grid-cols-[auto_auto] justify-end gap-3">
        <app-custom-button class="grid" color="neutral" (click)="cancel()" [isButtonOutline]="true" sizeButton="sm" buttonType="button">
            <span class="text-base">Cancelar</span>
        </app-custom-button>
        <app-custom-button class="grid" sizeButton="sm" buttonType="submit">
            <span class="text-base">Agregar</span>
            <img src="/icon/normal/check-circle.svg" alt="icono del boton">
        </app-custom-button>
    </div>
    @if (isSend) {
        <div class="absolute top-0 bottom-0 left-0 right-0 z-[99999] grid place-content-center bg-[#ffffff85]">
            <app-loader/>
        </div>
    }
</form>