#profile img {
    filter: invert(99%) sepia(73%) saturate(0%) hue-rotate(66deg) brightness(111%) contrast(100%);
    -webkit-filter: invert(99%) sepia(73%) saturate(0%) hue-rotate(66deg) brightness(111%) contrast(100%);
}

label:has(#profile input:checked) {
    @apply bg-primary-600;
}

#user:has(#profile input:not(:checked)):active {
    scale: 0.95;
}

#user:has(#profile input:not(:checked)) nav {
    display: none;
}

#icon-view-sidebar {
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

#icon-view-sidebar.active {
    position: inherit;
}

#icon-view-sidebar.desactive {
    position: fixed;
    left: 0.25rem;
    top: 0.25rem;
}