/* ul li {
    transition: background .3s;
    -webkit-transition: background .3s;
    -moz-transition: background .3s;
    -ms-transition: background .3s;
    -o-transition: background .3s;
}

a:not(.active) {
    @apply hover:bg-primary-900 accent-primary-600 *:text-neutral-100;
}

a.active {
    @apply bg-primary-500 *:text-neutral-50;
} */

ul li {
    font-weight: bold;
}

ul li img {
    filter: invert(100%) sepia(1%) saturate(7444%) hue-rotate(72deg) brightness(111%) contrast(102%);
    -webkit-filter: invert(100%) sepia(1%) saturate(7444%) hue-rotate(72deg) brightness(111%) contrast(102%);
}

.active-item {
    position: relative;
    background-color: white;
}

.active-item::before {
    content: '';
    position: absolute;
    right: 0;
    top: -40px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    box-shadow: 35px 35px 0 10px white;
    pointer-events: none;
    border-radius: 40%;
    -webkit-border-radius: 40%;
    -moz-border-radius: 40%;
    -ms-border-radius: 40%;
    -o-border-radius: 40%;
}

.active-item::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    box-shadow: 35px -35px 0 10px white;
    pointer-events: none;
    border-radius: 40%;
    -webkit-border-radius: 40%;
    -moz-border-radius: 40%;
    -ms-border-radius: 40%;
    -o-border-radius: 40%;
}

.active-item * {
    color: black;
}

ul li .active-item img {
    filter: invert(0%) sepia(0%) saturate(7500%) hue-rotate(321deg) brightness(107%) contrast(107%);
    -webkit-filter: invert(0%) sepia(0%) saturate(7500%) hue-rotate(321deg) brightness(107%) contrast(107%);
}