/* ul li {
    transition: background .3s;
    -webkit-transition: background .3s;
    -moz-transition: background .3s;
    -ms-transition: background .3s;
    -o-transition: background .3s;
}

a:not(.active) {
    @apply hover:bg-primary-900 accent-primary-600 *:text-neutral-100;
}

a.active {
    @apply bg-primary-500 *:text-neutral-50;
} */