aside {
    transition: margin-left .5s;
    -webkit-transition: margin-left .5s;
    -moz-transition: margin-left .5s;
    -ms-transition: margin-left .5s;
    -o-transition: margin-left .5s;
}


ul li {
    transition: background .3s;
    -webkit-transition: background .3s;
    -moz-transition: background .3s;
    -ms-transition: background .3s;
    -o-transition: background .3s;
}

a:not(.active) {
    @apply hover:bg-blue-9 accent-blue-7 *:text-blue-2;
}

a.active {
    @apply bg-blue-6 *:text-blue-1;
}