@import url('./custom-button-outline.component.css');
@import url('./custom-button-flat.component.css');

button {
    transition: background .3s, color .3s, border-color .3s, box-shadow .15s;
    -webkit-transition: background .3s, color .3s, border-color .3s, box-shadow .15s;
    -moz-transition: background .3s, color .3s, border-color .3s, box-shadow .15s;
    -ms-transition: background .3s, color .3s, border-color .3s, box-shadow .15s;
    -o-transition: background .3s, color .3s, border-color .3s, box-shadow .15s;
    user-select: none;

    
    &.xs { 
        @apply px-4 py-2 *:text-base;
        &:has(:first-child:is(:last-child)):has(img) {
            @apply px-2;
        }
        &.rounded-normal { @apply rounded-[8px]; }
    }
    &.sm {
        @apply px-6 py-3 *:text-lg;
        &:has(:first-child:is(:last-child)):has(img) {
            @apply px-3;
        }
        &.rounded-normal { @apply rounded-[12px]; }
    }
    &.md {
        @apply px-6 py-4 *:text-lg;
        &:has(:first-child:is(:last-child)):has(img) {
            @apply px-4;
        }
        &.rounded-normal { @apply rounded-[12px]; }
    }
    &.lg {
        @apply px-6 py-5 *:text-lg;
        &:has(:first-child:is(:last-child)):has(img) {
            @apply px-5;
        }
        &.rounded-normal { @apply rounded-[16px]; }
    }
    &.xl {
        @apply px-8 py-6 *:text-2xl;
        & img {
            @apply w-8 h-8;
        }
        &:has(:first-child:is(:last-child)):has(img) {
            @apply px-6;
        }
        &.rounded-normal { @apply rounded-[20px]; }
    }
    
    &:not(:disabled) {
        @apply active:shadow-[0px_0px_0px_4px];
    }
}
