<section class="h-screen w-full flex items-center justify-center bg-white md:bg-custom-gradient from-primary-600 via-primary-300 to-primary-50">
    <main class="py-10 px-2 md:pl-10 md:pr-4 relative flex flex-col md:flex-row gap-3 rounded-[16px] bg-white md:shadow-medium">
        <div class="flex items-center justify-center">
            <img src="/icon/logo/logo-fatlab-upeu-blue.png" alt="logo fatlab" class="w-40 md:w-80 h-fit">
        </div>
        <div class="w-[1px] h-auto bg-primary-300"></div>
        <div>
            <router-outlet/>
        </div>
    </main>
</section>