@import "primeng/resources/themes/aura-light-blue/theme.css";
@import "primeng/resources/primeng.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scrollbar-width: thin;
    scrollbar-color: #5C6C7B #EDF0F3;
    scroll-behavior: smooth;
    @apply text-blue-9;
}

body { @apply text-body-2 m-0 p-0 box-border; }

@font-face {
    font-family: "Space Grotesk";
    src: url('/font/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf');
}

@font-face {
    font-family: "Onest";
    src: url('/font/Onest/Onest-VariableFont_wght.ttf');
}

h1, h2, h3, h4, h5, h6, p { margin: 0; }
a { text-decoration: none; }
ul { list-style-type: none; margin: 0; padding: 0; }

.text-title-1 { @apply font-space-grotesk text-12zp font-bold uppercase; }
.text-title-2 { @apply font-space-grotesk text-11zp font-bold uppercase; }
.text-title-3 { @apply font-space-grotesk text-9zp font-bold uppercase; }
.text-title-4 { @apply font-space-grotesk text-8zp font-bold uppercase; }
.text-title-5 { @apply font-space-grotesk text-6zp font-bold uppercase; }

.text-subtitle-1 { @apply font-space-grotesk text-10zp font-medium; }
.text-subtitle-2 { @apply font-space-grotesk text-7zp font-medium; }
.text-subtitle-3 { @apply font-space-grotesk text-5zp font-medium; }

.text-body-1 { @apply font-onest text-4zp font-semibold; }
.text-body-2 { @apply font-onest text-3zp; }
.text-body-3 { @apply font-onest text-2zp; }

.text-button { @apply font-space-grotesk text-4zp font-medium uppercase; }
.text-span { @apply font-onest text-1zp; }
.text-span-bold { @apply font-onest text-1zp font-semibold; }
.text-caption { @apply font-onest text-1zp font-light; }
.text-underline { @apply font-onest text-3zp underline; }

.btn-primary {
    @apply text-button bg-blue-6 text-blue-2 px-3 py-2 rounded-lg 
    hover:bg-blue-7 active:bg-blue-5 active:scale-95 transition-all 
    no-underline border-none cursor-pointer select-none;
}